---
import miGif from '../assets/palmera.gif';
---

<div class="container">
    <div class="max-w-3x1 mx-auto text-center">
        <div class="grid grid-cols-3 grid-rows-[auto_auto_auto] md:grid-rows-2 text-left gap-2">
            <div class="col-start-1 row-start-1 col-end-4  md:col-end-3">
                <p class="text-lg text-muter-foreground">  
                    Ofrecemos hospedaje en bungalows acogedores, desde una ética sostenible 
                    que convive con el entorno y la comunidad.
                </p>
            </div>
            <div class="col-start-1 row-start-2 col-end-3 md:col-end-4 md:col-start-2 text-right">
                <p class="text-lg text-muter-foreground">
                    Buscamos asegurar una influencia positiva y duradera desde nuestro negocio familiar.
                </p>
            </div>
            <!-- Palmera opcional -->
        </div>
        <div class="mt-10 flex justify-center gap-9">
            <div>
                <h3 class="text-500 text-3x1 font-bold">25</h3>
                <p class="text-muted-foreground">Bungalows</p>
            </div>
            <div>
                <h3 class="text-500 text-3x1 font-bold">4.9</h3>
                <p class="text-muted-foreground">Guest Rate</p>
            </div>
            <div>
                <h3 class="text-500 text-3x1 font-bold">24/7</h3>
                <p class="text-muted-foreground">Atención</p>
            </div>

        </div>
    </div>
</div>