---
import AmenitiesCard from "@/components/AmenitiesCard.astro";

import chankillo from '../assets/chankillo.jpg'
import matrimonio from '../assets/matrimonio.jpg'
import lobos from '../assets/lobos.jpg'
import prom from '../assets/prom.png'
---


<section class="pt-28">
    <div class="container ">
        <div class="mx-auto text-center mb-8">
            <h2 class="mb-1 text-500 font-600 md:text-600">Experiencias en el Hotel y Alrededores</h2>
        </div>

        <div class="space-y-6 md:space-y-0 md:grid md:grid-cols-2 md:gap-12 lg:grid-cols-4 items-center">
            <AmenitiesCard name="Chankillo" image={chankillo} url='/experiences/chankillo'/>
            <AmenitiesCard name="Matrimonios" image={matrimonio} url='/experiences/matri'/>
            <AmenitiesCard name="Lobos Marinos" image={lobos} url='/experiences/lobos'/>
            <AmenitiesCard name="Viajes de Prom" image={prom} url='/experiences/prom'/>
        </div>
    </div>
</section>