---
import AmenitiesCard from "@/components/AmenitiesCard.astro";
---


<section class="pt-28" id="experiences">
    <div class="container ">
        <div class="mx-auto text-center mb-8">
            <h2 class="mb-1 text-500 font-600 md:text-600">Experiencias en el Hotel y Alrededores</h2>
        </div>

        <div class="space-y-6 md:space-y-0 md:grid md:grid-cols-2 md:gap-12 lg:grid-cols-4 items-center">
            <AmenitiesCard name="Chankillo" image='/assets/chankillo-thumb.jpg' url='/experiences/chankillo'/>
            <AmenitiesCard name="Matrimonios" image='/assets/matrimonio-thumb.jpg' url='/experiences/matrimonio'/>
            <AmenitiesCard name="El Huaro" image='/assets/huaro-thumb.jpg' url='/experiences/huaro'/>
            <AmenitiesCard name="Las Aldas (Ruinas)" image='/assets/aldas-thumb.jpg' url='/experiences/aldas'/>
        </div>
    </div>
</section>