---
import AmenitiesCard from "@/components/AmenitiesCard.astro";

import chankillo from '../assets/chankillo-patrimonio-mundial.jpg'
import matrimonio from '../assets/JessOnesto-JenSean-Previews-0168.jpg'
import lobos from '../assets/lobos-marinos-punta-san-juan-FINOS-3-CRIA.jpg'
import aldas from '../assets/Aldas2017.png'
---


<section class="pt-28" id="experiences">
    <div class="container ">
        <div class="mx-auto text-center mb-8">
            <h2 class="mb-1 text-500 font-600 md:text-600">Experiencias en el Hotel y Alrededores</h2>
        </div>

        <div class="space-y-6 md:space-y-0 md:grid md:grid-cols-2 md:gap-12 lg:grid-cols-4 items-center">
            <AmenitiesCard name="Chankillo" image={chankillo} url='/experiences/chankillo'/>
            <AmenitiesCard name="Matrimonios" image={matrimonio} url='/experiences/matri'/>
            <AmenitiesCard name="El Huaro" image={lobos} url='/experiences/lobos'/>
            <AmenitiesCard name="Las Aldas (Ruinas)" image={aldas} url='/experiences/las-aldas'/>
        </div>
    </div>
</section>