---
import BungalowCard from '@/components/BungalowCard.astro'
---



<section class="pt-28">
    <div class="container ">
        <div class="mc-auto text-center ">
            <h2 class="mb-1 text-500 font-600 md:text-600">Categorías de Bungalows</h2>
        </div>

        <div class="md:grid md:gap-9 md:grid-cols-2 lg:grid-cols-3">
            <BungalowCard name="Suites" image='/assets/suites-thumb.png' url="/suites" />
            <BungalowCard name="Standard" image='/assets/standard-thumb.png' url="/standard" />
            <BungalowCard name="Todos" image='/assets/all-thumb.png's url="/all" />
        </div>
    </div>
</section>