<section class="my-28 feed">
    <div class="container text-center">
        <a class="text-500 font-bold md:text-600" href="https://www.instagram.com/hotel_las_aldas/" target="_blank">Síguenos en Instagram</a>

    </div>

    <div>
        <div class="embedsocial-hashtag" data-ref="e412ace1c913c2adaec5bf8cb554349712eae564">
            <a class="feed-powered-by-es feed-powered-by-es-slider-img es-widget-branding" href="https://embedsocial.com/" target="_blank" title="Widget by EmbedSocial">
                 </a>
        </div>
        <script> (function(d, s, id) { var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript")); </script>
    </div>
    </section>