<section class="my-28 feed">
    <div class="container text-center mb-8">
        <a class="text-500 font-bold md:text-600" href="https://www.instagram.com/hotel_las_aldas/" target="_blank">Síguenos en Instagram</a>

    </div>

    <div>
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/7e7c2182537853bea340bf9cedf5de67.html" scrolling="yes" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
    </section>