---
import Bungalows from '@/sections/Bungalows.astro';
import AboutUs from '@/sections/AboutUs.astro';
import Amenities from './Amenities.astro';
import Location from './Location.astro';
import InstagramFeed from './InstagramFeed.astro';
---

<section class="pt-28 section2 bg-background noise">
    <AboutUs />

    <Bungalows />

    <Amenities />

    <Location />

    <InstagramFeed />
</section>